body {
    background-color: #b0e4ea;
    background-image: linear-gradient(to bottom right, #71eeb8, #0490bf);
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #4e5252;

    height: 100%;
    margin: 0;
}

@media screen and (min-width: 768px) {

.name {
    color: white;
    letter-spacing: 3px;
    margin-left: 195px;
    }
}

@media screen and (min-width: 768px) {
    #pages {
    margin-left: 500px;
    }
}

#submit {
    background-color: #4aaaa5;
    color: white;
    border: solid .5px lightgray;
    padding: 5px 10px;
}

#about {
    margin: 25px 11px 35px 13%;
    flex: 70%;
    padding: 20px;
    background: #e6e8e8;
    border-style: solid;
    border-color: #dddddd;
    border-width: 1px;
    border-radius: 15px;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

#phone {
    line-height: 15px;
    color: black;
}

.online {
    flex: 1%;
    margin-top: 25px;
    padding: 10px;
    width: 220px;
    height: 400px;
    background: #e6e8e8;
    border-style: solid;
    border-color: #dddddd;
    border-width: 1px;
    border-radius: 15px;
    line-height: 60px;
    font-size: 24px;
    text-align: center;
    color: black;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

@media (max-width: 1000px) {
    .row {
        flex-direction: column;
    }

    .online {
        width: 480px;
        margin: 10px 11px 35px 13%;
    }
}

.social {
    color: black;
}

.social:hover {
    color: #4aaaa5;
}

#email {
    font-size: 20px;
}

#me {
    width: 200px;
    height: 200px;
    margin: 0 0 0 10px;
    padding-right: 15px;
}

.card {
    width: 201.5px;
    margin-left: 99px;
    border-radius: 0;
    border-bottom-left-radius: 10px;
    border-top: none;
}

.card2 {
    margin-left: 99.5px;
}

.projectDescription {
    margin-top: 5px;
    margin-left: 10px;
}

.image {
    height: 150px;
    width: 200px;
    margin-left: 100px;
    border-top-right-radius: 10px;
}

.image:hover {
    opacity: .5;
}

.wrapper {
    position: relative;
}

.image-text {
    position: absolute;
    top: 0px;
    left: 100px;
    background: #4aaaa5;
    color: white;
    height: 30px;
    width: 200px;
    text-align: center;
    padding-top: 3px;
    border-top-right-radius: 9px;
}

.image-text1 {
    position: absolute;
    top: 120px;
    left: 100px;
    background: #4aaaa5;
    color: white;
    height: 30px;
    width: 200px;
    text-align: center;
    padding-top: 3px;
}

footer {
    height: 70px;
    background: #666666;
    border-top: 8px solid #4aaaa5;
    text-align: center;
}

.footer-text {
    margin-top: 15px;
}
